<navbar></navbar>

<header ng-show='!loggedIn' class="hero-unit" id="banner">
  <div class="container">
    <h1>Welcome to Votin!</h1>
    <p class="lead">The app for all of your voting needs.</p>
    <p>Created with:</p>
    <img src="assets/images/yeoman.png" alt="I'm Yeoman">
  </div>
</header>

<div class='container'>

  <form ng-show='loggedIn' name="questionForm" class='md-inline-form new-question'>
     <div>
     <md-input-container>
      <label>Title</label>
       <input ng-model="newQuestion.title" required>
     </md-input-container>
   </div>
   <md-input-container class="md-block item" flex-gt-sm ng-repeat='choice in newQuestion.choices'>
     <label>{{choice.label}}</label>
     <input ng-model="choice.name" required>
   </md-input-container>
   <md-button ng-disabled="questionForm.$invalid" class="md-raised" ng-click="addNewQuestion()" type="button">Publish it!</md-button>
     <md-button class="md-raised" ng-click="addNewChoice()" type="button">More choices</md-button>
 </form>





  <div class="row questions">
    <div class="col-lg-12">
      <ul class="nav nav-tabs nav-stacked col-md-4 col-lg-4 col-sm-6" ng-repeat="question in questions">
        <li><h4><a href="/questions/{{ question._id }}">{{question.title}}</a></h4>Created by : {{question.author.name}}</li>
      </ul>
    </div>
  </div>
</div>

<footer></footer>
