.title{
  text-align: center;
  margin-bottom: 30px;
}

.poll{
  text-align: center;
  padding:30px;
  background-color:#fff;
  border-radius: 30px;
}

.results{
    text-align: center;
  margin:center;
  margin:auto;
  max-width: 400px;
  max-height:400px;
}
